/* slider de product */
.img-tarjeta-producto {
  max-width: 15rem;
  height: 12rem;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateY(30%);
  transform: translateX(-50%);
  object-fit: cover;
  border-radius: 10%;
  

}
.card-body {
  height: 23rem;
  max-width: 16rem;
  background-color: var(--color-primario);
  border-radius: 1rem;
  
}
.card-body-text{
  position: absolute;
  bottom: 50px;
}
